<div class="w3-bar w3-border w3-card-4 w3-light-grey">
  <%= link_to('Users', admin_users_path, class: 'w3-bar-item w3-button') %>
  <%= link_to('Products', admin_products_path, class: 'w3-bar-item w3-button') %>
</div>
