<div class="w3-sidebar w3-bar-block" style="wdith: 15%">
  <%= link_to('Users', admin_users_path, class: 'w3-bar-item w3-button') %>
  <%= link_to('Products', admin_products_path, class: 'w3-bar-item w3-button') %>
</div>
