<% if notice %>
  <div class="w3-container w3-blue w3-card-4">
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="w3-container w3-red w3-card-4">
    <p><%= alert %></p>
  </div>
<% end %>
