<div class="w3-top">
  <div class="w3-bar w3-black">
    <div style="float: right">
      <span class="w3-bar-item">
        Email: <%= current_user.email %> | Membership: <%= current_user.role %>
      </span>
      <%= link_to_admin_or_website %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'w3-bar-item w3-button') %>
    </div>
  </div>
</div>
