<h2> Users </h2>
<%=
  react_component(
    'AdminUsersContainer',
    currentUser: current_user,
    users: @users,
    currentPage: @users.current_page,
    totalPages: @users.total_pages,
    perPage: @users.limit_value,
    totalCount: @users.total_count,
    pageEntriesInfo: page_entries_info(@users)
  )
%>
