<h1>Welcome!</h1>
<%= upgrade_to_premium_button %>

<%= react_component('ProductsContainer', currentUser: current_user, data: Entity::V1::PaginatedProduct.represent(@products, user: current_user).as_json) %>
